$backgroundcolor: rgb(13, 17, 23);
$navbarcolor: rgb(88, 51, 190);
$font: "Roboto Mono",
monospace;
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(14, 14, 16);
}

.navbar {
    background-color: $navbarcolor;
    display: flex;
    align-items: center;
    min-height: 9vh;
    font-family: $font;
}

.logo {
    color: rgb(214, 214, 214);
    border-radius: 100px;
    padding: 10px;
    font-size: 40px;
}

.wrapper {
    margin-left: 80%;
}

.images {
    flex-direction: row;
    padding: 10px;
    border-radius: 10px;
}

.images img {
    width: auto;
    height: 64px;
}

.commands {
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
}

.commands td {
    border: flex;
    border: 1px solid;
    border-color: rgb(214, 214, 214);
    color: rgb(214, 214, 214);
    font-family: $font;
    font-size: 18px;
    padding: 4px;
    padding-left: 16px;
    padding-right: 16px;
}

.commands a {
    text-decoration: none;
    color: $navbarcolor;
}

.cmdheader {
    color: rgb(214, 214, 214);
    text-decoration: underline;
    font-family: $font;
    text-align: center;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.tableheader {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 8vh;
}

.tableheader h2,
h4 {
    font-family: $font;
    color: rgb(214, 214, 214);
    text-decoration: underline;
}